<%- include("header") -%>

<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
    Assumenda similique saepe inventore accusantium quaerat laboriosam 
    dolores consequuntur exercitationem illo officiis architecto 
    cumque ullam quam eum, quas vitae distinctio iusto quod!</p>

<%- include("footer") -%>